*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Merriweather, Roboto, serif;
}

header{
    background-color: #ffffff;
    color: navy;
    padding: 10px 0;
    text-align: center;
}


main{
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}


footer{
    background-color: #ffffff;
    color: #000;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    border-top: 1px solid #000;
}