.callout {
    max-width: 500px;
    margin: 15px;
    border: 1px solid #eee;
    padding: 15px;
    background-color: rgb(20, 59, 127);
    color: #f5f4f4;
}

.callout img {
    /* position: float; */
    margin: 5px;
    border: 2px solid #000;
    padding: 3px;
    background-color: #f0f0f0;
    width: 100px;
    height: 100px;

	
}

blockquote {
    margin: 15px;
	
}

cite {
    display: flex;
    border-top: 1px solid #eee;
    padding: 5px;
    text-align: right;
    font-size: small;
    font-style: italic;
}