*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: royalblue;
}
/* This CSS rule names the <nav> element as the selected element to apply two style declarations.

The background color will be the color "darkblue", which is a valid, named color.
Padding, or area between the content and border is set to 10 pixels for readability. */

nav a {
    color: white;
    display: block;
    padding: 20px;
}

/* This CSS rule selects all the <a> (anchor / link) elements in the HTML that are children of the <nav> element and applies the following declarations:

The foreground or font color will be white.
The display will change from the default of inline to block.
Each anchor tag will have padding of 20px; */

h1 {
    color: skyblue;
}

/* This CSS rule selects the h1 element as the selected element and applies the following declaration:
The foreground, font color is set to darkblue. */

main {
    max-width: 840px;
    margin-top: 15px;
}
/* This css rule references the main element as the selector and applies the following declaration:
a set maximum width to limit the its width. */

main img {
    width: 150px;
    height: auto;
    float: right;
    border: 2px solid lightblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* This CSS rule references all the <img> (image) elements as the selector and applies the following declarations:

a set width with a height that will adjust dynamically to fit the image's aspect ratio.
A border shortcut that names the width, type of border, and color of the border.
Padding between the image and the border.
A box shadow around the image border with zero offset and depth of 30px in gray. */

p {
    padding: 0;
}

/* This CSS rule selects all the <p> (paragraph) elements as the selector and applies the following declaration:

Padding between the paragraph content and the border is set to 10 pixels. */

/* CSS Box Model 
content: This is where the text and images appear.
padding: This is the area around the content and separates the content from the border.
border: The border goes around the padding and separates the padding from the margin.
margin: This the the area outside of the border and can extend beyond the physical characters of the box model. */


aside {
    width: 20rem;
    text-align: center;
    box-shadow: 0 0 20px gray;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}
aside h2{
    position: absolute;
    top: 30px;
    left: 80px;
}

footer {
    margin-top: 15px;
    border-top: 2px solid lightblue;
    text-align: center;
}

/* class selector */
.box{
    margin: 1rem;
    border: 2px solid lightblue;
    padding: 1rem;
    background-color: #f0f8ff;
    color: #000;
}