main{
    max-width: 900px;
}
/* this declaration limits the width of the main selector */

nav{
    background-color: skyblue;
    padding: 30px;
}

nav a{
    color: navy;
    padding: 5px;
    display: block;
    text-decoration: none;
}

h1{
    color: navy;
    text-align: center;
}

h2{
    color: navy;
    text-align: center;
}

img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid navy;
    padding: 10px;
    box-shadow: #333 2px 2px 5px;
}

aside{
    width: 300px;
    margin: 15px;
    border: 1px solid navy;
    border-radius: 5px;
    padding: 10px;
    background-color: skyblue ;
    color: #333;
    text-align: center;
}
/* this declaration gives the aside element a width, margin, border, padding, background color and color.  */

aside img{
    width: 200px;
    height: auto;
}
/* this declaration gives the asidde image a width and a height */

main img{
    width: 180px;
    height: auto;
    border: 1px solid navy;
    border-radius: 5px;

}

p {
    padding: 0;
    color: navy;
}

footer{
    margin-top: 10px;
    border-top: 2px solid navy;
    text-align: center;
}